# Example .env file
DATABASE_URL="postgresql://user:password@localhost:5432/lunarstudydb?schema=public"
JWT_SECRET="your-super-secret-jwt-key-that-is-at-least-32-characters-long"
API_PORT=3001
CORS_ORIGIN="http://localhost:5173"